<h2 class="hypnosText--TituloGrande mb-2">Buscar paciente</h2>
<div class="d-flex flex-row justify-content-between container-fluid">
  <div class="form-group row">
    <label for="nome">Nome</label>
    <input type="search" class="bg-azul col-2 form-control" id="nome">
  </div>
  <hdk-button
    icon="fa-solid fa-search"
    text="Buscar"
    color="hdk-bg-verde"
    >
  </hdk-button>
</div>
<hdk-divisor></hdk-divisor>
<div class="underDivisor">
  <hdk-button
  text="Voltar"
  color="hdk-bg-verde"
  (click)="null">
  </hdk-button>
  <hdk-button
  text="Cadastrar"
  color="hdk-bg-verde"
  (click)="abrirModal()">
  </hdk-button>
</div>
<hdk-divisor [hideDivisor]="true"></hdk-divisor>