.tableContainer{
  background-color: #FFFF;
  width: 100%;
  height: 75%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  position: relative;
}
