<div *ngIf="isCadastroModalOpen" class="modal">
  <div class="modal-content">
    <form>
      <h1 class="hipnosText--TituloGrande">Cadastrar novo medicamento</h1>
      
      <div class="form-group">
        <label for="nome">Nome do medicamento *</label>
        <input type="search" class="bg-azul col-2 form-control" id="nome" [(ngModel)]="nome" name="nome" placeholder="alo"/>
      </div>

      <div class="form-group">
        <label for="concentracao">Concentração *</label>
        <input type="number" class="bg-azul col-2 form-control" id="concentracao" [(ngModel)]="concentracao" name="concentracao" />
      </div>

      <div class="form-group">
        <label for="categoriaRemedio">Categoria do remédio</label>
        <input type="number" class="bg-azul col-2 form-control" id="categoriaRemedio" [(ngModel)]="categoriaRemedio" name="categoriaRemedio" />
      </div>

      <div class="form-group">
        <label for="fabricante">Fabricante</label>
        <input type="search" class="bg-azul col-2 form-control" id="fabricante" [(ngModel)]="fabricante" name="fabricante" />
      </div>

      <div class="form-group">
        <label for="lote">Lote</label>
        <input type="number" class="bg-azul col-2 form-control" id="lote" [(ngModel)]="lote" name="lote" />
      </div>

      <div class="form-group">
        <label for="validade">Data de validade</label>
        <input type="date" class="bg-azul col-2 form-control" id="validade" [(ngModel)]="validade" name="validade" />
      </div>

      <footer>
        <hdk-button text="Cadastrar" color="hdk-bg-verde" (click)="cadastrarMedicamento()" />
        <hdk-button text="Cancelar" color="hdk-bg-vermelho" (click)="closeCadastro()"/>
      </footer>
    </form>
  </div>
</div>
