@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../hdk/fontes.scss';

:host {
    display: block;
    font-family: 'Inter', sans-serif;
  }
  
  .container-prontuario {
    background-color: white;
    border-radius: 15px;
    max-width: 1500px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 95vh;      
    overflow-y: auto;      
    scrollbar-width: none;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 2rem;
    width: 100%;
    padding: 2em;
  }
  
  .logo-instituto img {
    width: 15vw;
    height: auto;
  }

  .icons-img{
    height: 41px;
    width: 22px;
    transform: scale(2);  
    transform-origin: center; 
  }
  
  .infos-contato {
    text-align: left;
    font-size: 20px;
    color: #333;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-self: center;
  }

  .info-item {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    margin-top: 2vh;
  }
  
  .titulo {
    text-align: center;
  }
  
  .num-prontuario {
    text-align: right;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }
  
  .section-titulo {
    background-color: #359830A1;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
    font-size: 24px;
  }

  .section-subTitulo {
    background-color: #E3EDF9;
    padding: 0.5rem 1rem;
    font-weight: 500;
  }
  
  .section-content {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 4rem;
    border-radius: 0 0 8px 8px;
    font-size: 24px;
    margin: 0.5em 0em 2em;
  }

  .section-content-2{
    background-color: white;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 0 0 8px 8px;
    font-size: 24px;
    margin: 0.5em 0em 0.2em;
  }

  
  .section-content-3{
    background-color: white;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 0 0 8px 8px;
    font-size: 26px;
    text-align: center;
  }
  
  .label {
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .label-2{
    font-weight: bold;
    display: inline-block;
    width: 268px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .value {
    background-color: #e3efff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-top: 4px;
    text-align: center;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value-2 {
    background-color: #e3efff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-top: 4px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 268px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .obs {
  font-size: 24px;
  padding: 10px 16px;
  margin-top: 1rem;
  font-weight: 600;
}

.obs-area {
  border-radius: 8px;
  padding: 1rem;
  grid-column: 1 / -1;
  min-height: 200px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.obs-area-input {
  width: 100%;
  flex-grow: 1;
  min-height: 150px;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 20px;
  resize: vertical;
  background-color: #e3efff;
  box-shadow: none;
}

.medicamentos-section{
  cursor: pointer;
}

.mat-header-cell {
  background-color: #f0f1f1 !important;
  font-weight: bold;
  text-align: center;
  border: 1px solid #B9B9B9;
  padding: 8px;
}

.mat-cell {
  border: 1px solid #b9b9b9;
  text-align: center;
  vertical-align: middle;
  padding: 4px 8px;
}

.table-input {
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.tabela-clinica-wrapper .mat-elevation-z8 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #B9B9B9;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.table-input:focus {
  outline: none;
  border-radius: 4px;
}

.button{
  justify-content: end;
}