<app-prontuario-parcial-modal-adicionar-medicamentos #modalAdicionarMedicamentos></app-prontuario-parcial-modal-adicionar-medicamentos>

<div class="container-prontuario poppins-bold">
  <div class="header">
    <div class="logo-instituto">
      <img src="../../../../assets/images/LogoIfes2.svg" alt="Logo IFES" />
    </div>
    <div class="infos-contato">
        <div class="info-item">
        <div class="icons-img">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
          </svg>

        </div>
        <div class="hypnosText--fonte2">
          <p>3564–1800</p>
        </div>
      </div>
      <div class="info-item">
        <div class="icons-img">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
        </div>
        <div class="hypnosText--fonte2">
          <p>gabinete.ale&#64;ifes.edu.br</p>
        </div>
      </div>
      <div class="info-item">
        <div class="icons-img">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
          </svg>
        </div>
        <div class="hypnosText--fonte2">
          <p>Rodovia ES-482<br />(Cachoeiro–Alegre, Km 72 –<br> Rive, Alegre – ES, 29500–000)</p>
        </div>
      </div>

    </div>
  </div>

  <div class="hypnosText--TituloGrande titulo">PRONTUARIO MEDICO</div>
  <div class="hypnosText--fonte1 num-prontuario">Número: (a ser gerado)</div>

  <div class="section-titulo ">Informações do paciente</div>
  <div class="section-content">
    <div>
      <div class="label">Id</div>
      <div class="value">{{dadosRecebidos?.id}}</div>
    </div>
    <div>
      <div class="label">Nome</div>
      <div class="value">{{dadosRecebidos?.nome || 'NULL'}}</div>
    </div>
    <div>
      <div class="label">Espécie</div>
      <div class="value">{{dadosRecebidos?.especie?.especie}}</div>
    </div>
    <div>
      <div class="label">Idade</div>
      <div class="value">{{ animalIdade || '0'}}</div>
    </div>
    <div>
      <div class="label">Peso</div>
      <div class="value">{{dadosRecebidos?.peso || '0'}}</div>
    </div>
    <div>
      <div class="label">Sexo</div>
      <div class="value">{{dadosRecebidos?.sexo || 'NULL'}}</div>
    </div>
  </div>

  <div class="section-titulo">Detalhes do procedimento</div>
  <div class="section-content-2">
    <div>
      <div class="label-2">Médico</div>
      <input type="text" [(ngModel)]="medicoResponsavel" class="value-2-input" [readOnly]="true">
    </div>
    <div>
      <div class="label-2">Tipo de Procedimento</div>
      <select [(ngModel)]="tipo_procedimento_id" class="value-2-input">
        <option [value]="1">Consulta de Rotina</option>
        <option [value]="2">Castração</option>
        <option [value]="3">Emergência</option>
        <option [value]="4">Vacinação</option>
      </select>
    </div>
    <div>
      <div class="label-2">Data do Procedimento</div>
      <input type="date" [(ngModel)]="dataProcedimento" class="value-2-input">
    </div>
    <div>
      <div class="label-2">Duração</div>
      <input type="text" [(ngModel)]="duracaoProcedimento" class="value-2-input">
    </div>
  </div>

  <div class="section-titulo">Parâmetros Clínicos</div>
  <div class="tabela-clinica-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="parametro">
        <th mat-header-cell *matHeaderCellDef> Horário </th>
        <td mat-cell *matCellDef="let element"> {{ element.parametro }} </td>
      </ng-container>

      <ng-container *ngFor="let col of displayedColumns.slice(1); let i = index" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          <input type="time" [(ngModel)]="horarios[i]" class="table-input time-input">
        </th>
        <td mat-cell *matCellDef="let element">
          <input type="text" [(ngModel)]="element[col]"  (ngModelChange)="onValorChange(i)" class="table-input">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="medicamentos-section" (click)="abrirModalCadastro()">
    <div class="section-titulo">Medicamentos</div>
  <div class="section-subTitulo hypnosText--fonte1">Medicação pré-anestésica</div>
  
  <div class="section-content-2 text-align-center">
    <div class="justify-content-between d-flex text-center">
      <div class="hypnosText--fonte1 label-2">Nome</div>
      <div class="hypnosText--fonte1 label-2">Volume mínimo</div>
      <div class="hypnosText--fonte1 label-2">Volume máximo</div>
    </div>
  </div>

  <div *ngFor="let med of medicamentosRecebidos" class="section-content-3">
    <div class="justify-content-between d-flex">
      <div class="hypnosText--fonte1 label-2">{{ med.nome }} {{ med.concentracao ? med.concentracao + '%' : '' }}</div>
      <div class="hypnosText--fonte1 label-2">{{ med.dose_min ? med.dose_min + 'ml' : '?'  }}</div>
      <div class="hypnosText--fonte1 label-2">{{ med.dose_max ? med.dose_max + 'ml' : '?' }}</div>
    </div>
  </div>
  </div>
  
  <hdk-divisor></hdk-divisor>

  <div>
    <h2 class="hypnosText--fonte1 obs">Observações</h2>
  </div>
  <div class="obs-area form-group">
    <textarea class="obs-area-input bg-azul form-control" [(ngModel)]="observacoes"></textarea>
  </div>

  <hdk-button
    text="Finalizar prontuário"
    color="hdk-bg-verde"
    class="d-flex m-4 button"
    (click)="finalizarProntuario()">
  </hdk-button>

</div>