<div class="navbar">
  <div class="logo">
    <h1 class="hypnosText--TituloGrande hypnosColor--amarelo">vetHypnos</h1>
  </div>

  <div class="user-card">
    <div class="user-avatar">
      <img src="../../../assets/images/userImg.png" alt="Foto Usuário">
    </div>
    <div class="user-info">
      <h3 class="user-name hypnosText--fonte1">Nome usuário</h3>
      <p class="user-specialization">Especialização</p>
    </div>
  </div>

  <button class="painelPrincipal hypnosText--fonte1" type="button" [routerLink]="'/principal'"><i class="fa-solid fa-chart-line"></i>Painel principal</button>

  <ul class="nav flex-column">
    <li class="nav-item hypnosText--fonte1" *ngFor="let item of menuItems">
      <a class="nav-link" [routerLink]="item.route">
        <i  [ngClass]="item.icon"></i> {{ item.text }}
      </a>
    </li>
  </ul>

  <div class="logout">
    <button class="hypnosText--fonte1" (click)="logout()"><i class="fa-solid fa-power-off"></i> Sair</button>
  </div>

  <footer>
    <p>&copy; 2024 vetHypnos</p>
  </footer>
</div>
