@import '../../../../styles.scss';
@import '../../hdk/cores.scss';
@import '../../hdk/fontes.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  text-align: center;
  width: auto;
  padding: 30px;
}

.realizarCadastro{
  background-color: $verde;
  width: 15vw;
  display: flex;
  justify-content: center;
  .items{
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.formularioLogin{
  background-color: $verdeOpaco;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    color: $creme;
  }
}

.form{
  width: 15vw;
}

.hypnosButtom{
  background-color: $verde;
}

.bg-azul{
  background-color: #E3EDF9;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-top: 1em;
}

.form-group{
  margin: 1em 0;

  label{
    display: flex;
    align-items: start;
  }
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinners {
  -moz-appearance: textfield;
}

.autocomplete-container {
  position: relative; 
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  z-index: 999; 

  
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 4px 0 0;
  max-height: 200px; 
  overflow-y: auto;
}

.dropdown-item, .dropdown-item-disabled {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.dropdown-item:hover {
  background-color: #f0f0f0; 
}

.dropdown-item-disabled {
  cursor: default;
  color: #999;
}