<div *ngIf="isCadastroModalOpen" class="modal">
  <div class="modal-content">

    <form #animalForm="ngForm">
      <h1 class="hipnosText--TituloGrande">
        {{ isAtualizarModal ? 'Atualizar Animal' : 'Cadastrar novo Animal' }}
      </h1>

      <div class="form-group">
        <label for="nomeAnimal">Nome do animal *</label>
        <input type="search" class="bg-azul col-2 form-control" [(ngModel)]="nomeAnimal" name="nomeAnimal" required />
      </div>

     <div class="form-group">
      <label for="especieAnimal">Espécie *</label>
      <select
        class="bg-azul col-2 form-control"
        [(ngModel)]="especieAnimal"
        (ngModelChange)="onEspecieChange($event)"
        name="especieAnimal"
        required
      >
        <option [value]="null" disabled>Selecione uma espécie</option>

        <option *ngFor="let esp of especies" [value]="esp.especie_id">
          {{ esp.especie }}
        </option>
      </select>
    </div>

      <div class="form-group">
        <label for="DataNascAnimal">Data de Nascimento</label>
        <input
          type="text"
          mask="00/00/0000"
          [(ngModel)]="DataNascAnimal"
          name="DataNascAnimal"
          placeholder="dd/mm/aaaa"
          class="bg-azul col-2 form-control"
        />
      </div>
      <div class="form-group">
        <label for="SexoAnimal">Sexo</label>
        <select
          class="bg-azul col-2 form-control"
          [(ngModel)]="SexoAnimal"
          name="SexoAnimal"
        >
          <option value="" disabled selected>Selecione o sexo</option>
          <option value="M">Macho</option>
          <option value="F">Fêmea</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="PesoAnimal">Peso (kg)*</label>
        <input 
          type="number"
          step="0.01"
          placeholder="0.00"
          class="no-spinners bg-azul col-2 form-control"
          [(ngModel)]="PesoAnimal"
          name="PesoAnimal"
          required/>
      </div>

      <div class="form-group">
        <label for="TutorAnimal">Tutor ID *</label>
        <input type="number" class="bg-azul col-2 form-control" [(ngModel)]="TutorAnimal" name="TutorAnimal" required />
      </div>

      <footer>
          <hdk-button
            [text]="isAtualizarModal ? 'Atualizar' : 'Cadastrar'"
            color="hdk-bg-verde"
            (click)="salvarAnimal()"
            />
        <hdk-button text="Cancelar" color="hdk-bg-vermelho" (click)="closeCadastro()"/>
      </footer>
    </form>
  </div>
</div>