<div *ngIf="isCadastroModalOpen" class="modal" (click)="onBackdropClick($event)" id="modal-background">
  <div class="modal-content">

    <form #animalForm="ngForm">
      <h1 class="hipnosText--TituloGrande">
        {{ isAtualizarModal ? 'Atualizar Animal' : 'Cadastrar novo Animal' }}
      </h1>

      <div class="form-group">
        <label for="nomeAnimal">Nome do animal *</label>
        <input type="search" class="bg-azul col-2 form-control" [(ngModel)]="nomeAnimal" name="nomeAnimal" required />
      </div>

      <div class="form-group">
        <label for="especieAnimal">Espécie</label>
        <div class="autocomplete-container">
          <input
            type="text"
            class="bg-azul col-2 form-control"
            [(ngModel)]="buscaEspecie"
            (ngModelChange)="filtrarEspecies()"
            (focus)="abrirDropdownEspecie()"
            name="EspecieAnimalInput"
            placeholder="Digite para buscar uma espécie..."
            autocomplete="off"
          />
          <ul *ngIf="isDropdownEspecieAberto" class="autocomplete-dropdown">
            <li class="dropdown-item" (click)="deselecionarEspecie()">
              Nenhuma espécie
            </li>
            <li *ngIf="especiesFiltradas.length === 0 && buscaEspecie" class="dropdown-item-disabled">
              Nenhum a espécie encontrada
            </li>
            <li *ngFor="let esp of especiesFiltradas" class="dropdown-item" (click)="selecionarEspecie(esp)">
              {{ esp.especie }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="DataNascAnimal">Data de Nascimento</label>
        <input
          type="text"
          mask="00/00/0000"
          [(ngModel)]="DataNascAnimal"
          name="DataNascAnimal"
          placeholder="dd/mm/aaaa"
          class="bg-azul col-2 form-control"
        />
      </div>

      <div class="form-group">
        <label for="SexoAnimal">Sexo</label>
        <select
          class="bg-azul col-2 form-control"
          [(ngModel)]="SexoAnimal"
          name="SexoAnimal"
        >
          <option value="" disabled selected>Selecione o sexo</option>
          <option value="M">Macho</option>
          <option value="F">Fêmea</option>
        </select>
      </div>

      <div class="form-group">
        <label for="PesoAnimal">Peso (kg)*</label>
        <input
          type="number"
          step="0.01"
          placeholder="0.00"
          class="no-spinners bg-azul col-2 form-control"
          [(ngModel)]="PesoAnimal"
          name="PesoAnimal"
          required/>
      </div>

      <div class="form-group">
        <label for="TutorAnimal">Tutor</label>
        <div class="autocomplete-container">
          <input
            type="text"
            class="bg-azul col-2 form-control"
            [(ngModel)]="buscaTutor"
            (ngModelChange)="filtrarTutores()"
            (focus)="abrirDropdownTutor()"
            name="TutorAnimalInput"
            placeholder="Digite para buscar um tutor..."
            autocomplete="off"
          />
          <ul *ngIf="isDropdownTutorAberto" class="autocomplete-dropdown">
            <li class="dropdown-item" (click)="deselecionarTutor()">
              Nenhum tutor
            </li>
            <li *ngIf="tutoresFiltrados.length === 0 && buscaTutor" class="dropdown-item-disabled">
              Nenhum tutor encontrado
            </li>
            <li *ngFor="let tutor of tutoresFiltrados" class="dropdown-item" (click)="selecionarTutor(tutor)">
              {{ tutor.tutor_nome }}
            </li>
          </ul>
        </div>
      </div>

      <footer>
          <hdk-button
            [text]="isAtualizarModal ? 'Atualizar' : 'Cadastrar'"
            color="hdk-bg-verde"
            (click)="salvarAnimal()"
            />
        <hdk-button text="Cancelar" color="hdk-bg-vermelho" (click)="closeCadastro()"/>
      </footer>
    </form>
  </div>
</div>