<app-modal-animal #modalAnimal (cadastrar)="cadastrarAnimal($event)" (atualizar)="enviarAtualizacao($event)"></app-modal-animal>

<h2 class="hypnosText--TituloGrande mb-2">Buscar animal</h2>
<div class="search-container">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="search" class="bg-azul col-2 form-control" id="nome" [(ngModel)]="nomeFiltro" (keyup.enter)="buscarAnimais()">
  </div>
  <div class="form-group">
    <label for="especie">Espécie</label>
    <input type="search" class="bg-azul col-2 form-control" id="especie" [(ngModel)]="especieFiltro" (keyup.enter)="buscarAnimais()">
  </div>
  <hdk-button
    icon="fa-solid fa-search"
    text="Buscar"
    (click)="buscarAnimais()"
    color="hdk-bg-verde">
  </hdk-button>
</div>

<hdk-divisor></hdk-divisor>
<div class="underDivisor">
  <hdk-button
  text="Voltar"
  color="hdk-bg-verde"
  (click)="voltar()">
  </hdk-button>
  <hdk-button
  text="Cadastrar"
  color="hdk-bg-verde"
  (click)="abrirModalCadastro()">
  </hdk-button>
</div>
<hdk-divisor [hideDivisor]="true"></hdk-divisor>

<hdk-tabela
  [displayedColumns]="displayedColumns"
  [dataSource]="dataSource"
  (excluir)="deletarAnimal($event)"
  (atualizar)="atualizarAnimal($event)"
  (visualizar)="visualizarDetalhes($event)"
  [exibirAcaoVisualizar]="true"> 
</hdk-tabela>

<app-hdk-modal-feedback></app-hdk-modal-feedback>