<app-modal-medicamentos 
  #modalMedicamentos 
  (cadastrar)="cadastrarMedicamento($event)"
  (atualizar)="enviarAtualizacao($event)">
</app-modal-medicamentos>

<h2 class="hypnosText--TituloGrande mb-2">Buscar medicamento</h2>
<div class="d-flex flex-row justify-content-between container-fluid">
  <div class="form-group row">
    <label for="nome">Nome</label>
    <input type="search" class="bg-azul col-2 form-control" id="nome" />
  </div>
  <hdk-button icon="fa-solid fa-search" text="Buscar" color="hdk-bg-verde" (click)="carregarDados()" />
</div>

<hdk-divisor/>

<div class="underDivisor">
  <div class="d-flex flex-row justify-content-between container-fluid">
    <hdk-button text="Voltar" color="hdk-bg-verde" (click)="voltar()" />
    <hdk-button text="Cadastrar" color="hdk-bg-verde" (click)="abrirModalCadastro()" />
  </div>
</div>

<hdk-divisor [hideDivisor]="true" />

<hdk-tabela [displayedColumns]="displayedColumns" [dataSource]="dataSource" (excluir)="deletarMedicamento($event)" (atualizar)="atualizarMedicamento($event)"/>