<h2 class="hypnosText--TituloGrande mb-2">Buscar fármaco</h2>
<div class="d-flex flex-row justify-content-between container-fluid">
  <div class="form-group row">
    <label for="nome">Nome</label>
    <input type="search" class="bg-azul col-2 form-control" id="nome">
  </div>
  <hdk-button
  icon="fa-solid fa-search"
  text="Buscar"
  color="hdk-bg-verde"
  route="/pesquisa">
  </hdk-button>
</div>
<hdk-divisor></hdk-divisor>

<div class="conteudoPrincipal mt-3">
  <hdk-tabela></hdk-tabela>
</div>

