<section class="detalhes-container">
  <h2>Detalhes do animal</h2>
  <div class="dados-animal">
    <div class="campo">
      <label>Id</label>
      <div class="valor">{{ dadosRecebidos?.id || 'N/A' }}</div>
    </div>
    <div class="campo">
      <label>Nome</label>
      <div class="valor">{{ dadosRecebidos?.nome || 'N/A' }}</div>
    </div>
    <div class="campo">
      <label>Espécie</label>
      <div class="valor">{{ dadosRecebidos?.especie_id || 'N/A' }}</div>
    </div>
    <div class="campo">
      <label>Peso</label>
      <div class="valor">{{ dadosRecebidos?.peso || 'N/A' }}</div>
    </div>
    <div class="campo">
      <label>Sexo</label>
      <div class="valor">{{ dadosRecebidos?.sexo || 'N/A' }}</div>
    </div>
  </div>
</section>

<hr>

<div class="scroll">
  <cdk-accordion class="example-accordion poppins-bold" [multi]="true">
    <cdk-accordion-item
      *ngFor="let secao of secoesDoAccordion"
      class="example-accordion-item"
      #accordionItem="cdkAccordionItem"
      role="button"
      tabindex="0"
      [expanded]="secao.expanded">
      
      <div class="example-accordion-item-header" (click)="secao.expanded = !secao.expanded">
        {{ secao.titulo }}
      </div>

      <div class="example-accordion-item-body inter" role="region"
        [style.display]="secao.expanded ? '' : 'none'">
        
        <div *ngIf="secao.medicamentosAgrupados.size > 0; else semMedicamentos">
          <div *ngFor="let grupo of secao.medicamentosAgrupados | keyvalue" style="padding: 10px;" class="inter">
            <p class="mini-titulo-accordion inter">{{ grupo.key }}</p>
            <div class="checkbox-container">
              <div *ngFor="let med of grupo.value">
                <mat-checkbox 
                    class="box inter"
                    (change)="onSelectionChange($event, med.id)">
                  {{ med.nome }} 
                  <!-- {{ med.concentracao ? med.concentracao + 'mg/ml' : '' }} -->
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        
        <ng-template #semMedicamentos>
          <p class="sem-medicamentos-aviso">Nenhum medicamento disponível para esta categoria.</p>
        </ng-template>

      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

<div class="salvar-container">
  <hdk-button
    text="Gerar prontuário"
    color="hdk-bg-verde"
    (click)="salvarSelecao()">
  </hdk-button>
</div>
