<div class="tableContainer">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
      
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{ element.cpf }} </td>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> endereco </th>
        <td mat-cell *matCellDef="let element"> {{ element.endereco?.bairro }} </td>
      </ng-container>

      <ng-container matColumnDef="concentracao">
        <th mat-header-cell *matHeaderCellDef> Concentracao (mg/ml) </th>
        <td mat-cell *matCellDef="let element"> {{ element.concentracao }} </td>
      </ng-container>

      <ng-container matColumnDef="fabricante">
        <th mat-header-cell *matHeaderCellDef> Dosagem mínima (mg/kg) </th>
        <td mat-cell *matCellDef="let element"> {{ element?.dose_min }} </td>
      </ng-container>

      <ng-container matColumnDef="lote">
        <th mat-header-cell *matHeaderCellDef> Dosagem máxima (mg/kg) </th>
        <td mat-cell *matCellDef="let element"> {{ element.dose_max }} </td>
      </ng-container>
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
      </ng-container>
      
      <ng-container matColumnDef="especialidade">
        <th mat-header-cell *matHeaderCellDef> Especialidade </th>
        <td mat-cell *matCellDef="let element"> {{ element.especialidade || 'Não informado' }} </td>
      </ng-container>

      <ng-container matColumnDef="procedimento">
        <th mat-header-cell *matHeaderCellDef> Procedimento </th>
        <td mat-cell *matCellDef="let element"> {{ element.procedimento || 'Não informado' }} </td>
      </ng-container>
      
      <ng-container matColumnDef="data_prontuario">
        <th mat-header-cell *matHeaderCellDef> Data do Prontuário </th>
        <td mat-cell *matCellDef="let element"> {{ (element.data_prontuario | date: 'dd/MM/yyyy') || 'Não informado' }} </td>
      </ng-container>
      
      <ng-container matColumnDef="usuario_nome">
        <th mat-header-cell *matHeaderCellDef> Médico </th>
        <td mat-cell *matCellDef="let element"> {{ element.usuario_nome }} </td>
      </ng-container>

      <ng-container matColumnDef="animal_nome">
        <th mat-header-cell *matHeaderCellDef> Animal </th>
        <td mat-cell *matCellDef="let element"> {{ element.animal_nome }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status || 'Não informado'}} </td>
      </ng-container>

      <ng-container matColumnDef="data_nascimento">
        <th mat-header-cell *matHeaderCellDef> Nascimento </th>
         <td mat-cell *matCellDef="let element"> {{ element.data_nascimento ? (element.data_nascimento | date: 'dd/MM/yyyy') : 'Não informado' }} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{ element.sexo || 'Não informado' }} </td>
      </ng-container>

      <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef> Peso </th>
        <td mat-cell *matCellDef="let element"> {{ element.peso }} kg</td>
      </ng-container>

      <ng-container matColumnDef="tutor_id">
        <th mat-header-cell *matHeaderCellDef> Tutor </th>
        <td mat-cell *matCellDef="let element"> {{ element.tutor?.nome || 'Não informado'}} </td>
      </ng-container>

      <ng-container matColumnDef="especie_id">
        <th mat-header-cell *matHeaderCellDef> Espécie </th>
        <td mat-cell *matCellDef="let element"> {{ element.especie?.especie || 'Não informado'}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{ element.data | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="nomeMedico">
        <th mat-header-cell *matHeaderCellDef> Médico Responsável </th>
        <td mat-cell *matCellDef="let element"> {{ element.nomeMedico }} </td>
      </ng-container>

      <ng-container matColumnDef="selecionar">
        <th mat-header-cell *matHeaderCellDef> Selecionar </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.selecionado"
            (change)="onCheckboxChange(element, $event.checked)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isMobile" class="desktop-actions">
            <i *ngIf="exibirAcaoVisualizar" class="me-2 fa-solid fa-eye" (click)="onVisualizar(element); $event.stopPropagation()" title="Visualizar Detalhes"></i>
            <i class="me-2 fa-solid fa-pencil" (click)="onAtualizar(element); $event.stopPropagation()" title="Editar"></i>
            <i class="fa-solid fa-trash"  (click)="onExcluir(element); $event.stopPropagation()" title="Excluir"></i>
          </div>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
          *matRowDef="let row; columns: displayedColumns;"
          (click)="onRowClick(row)"
          [class.mobile-row]="isMobile">
      </tr>
    </table>
  </div>
  <mat-paginator
    class="matPaginator"
    [pageSize]="pageSize"
    showFirstLastButtons
    hidePageSize="true">
  </mat-paginator>
</div>