<div *ngFor="let item of cardItems" 
     class="card text-white p-2" 
     [ngClass]="[item.cor, 'card-responsive']" 
     style="border-radius: 12px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor:pointer;">

  <div [routerLink]="item.rota" class="card-body d-flex align-items-center justify-content-center">
      <div class="me-3 card-icon-container">
        <i [ngClass]="item.icone" class="card-icon"></i>
      </div>
      
      <div class="card-text-content">
          <h4 class="mb-0 card-number">{{item.numero}}</h4>
          <p class="mb-0 card-label">{{item.texto}}</p>
      </div>
  </div>
</div>
