<div *ngIf="isAssociarAnimalExistenteModalOpen" class="modal">
  <div class="modal-content">
        <h2 class="hypnosText--TituloGrande mb-2">Selecione o animal</h2>
       
        <div class="tabela-wrapper">
          <hdk-tabela [displayedColumns]="displayedColumns" [dataSource]="dataSource" (selecionadosChange)="receberSelecionados($event)"/>
        </div>

        <div class="btns d-flex flex-row justify-content-center align-items-center">
          <hdk-button color="hdk-bg-verde" text="Salvar" (click)="irParaAdicionarMedicamentos()"/>
          <hdk-button color="hdk-bg-vermelho" text="Cancelar" (click)="closeModal()"/>
        </div>
    </div>
</div>