@import '../cores.scss';

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 4vh;
  border: none;
  border-radius: 8px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  min-width: 5vw;
  i{
    color: $creme;
  }
  :hover{
    cursor: pointer;
    color: black;
  }
}
