<div class="container-prontuario poppins-bold">
    <!-- Cabeçalho -->
    <div class="header">
      <div class="logo-instituto">
        <img src="../../../assets/images/LogoIfes.png" alt="Logo IFES" />
      </div>
      <div class="infos-contato">
        <div class="info-item">
         <div class="icons-img">
          <img src="../../../assets/images/telefone.png" alt="">
        </div>
        <div> 
          <p>3564–1800</p>
        </div>
        </div>
        <div class="info-item">
        <div class="icons-img">
          <img src="../../../assets/images/email.png" alt="">
        </div>
        <div> 
          <p>gabinete.ale&#64;ifes.edu.br</p>
        </div>
        </div>
        <div class="info-item">
        <div class="icons-img">
          <img src="../../../assets/images/local.png" alt="">
        </div>
        <div> 
          <p>Rodovia ES-482<br />(Cachoeiro–Alegre, Km 72 –<br> Rive, Alegre – ES, 29500–000)</p>
        </div>
        </div>
        
      </div>
    </div>

    <!-- Título da Página -->
    <div class="titulo">Prontuário do animal</div>
    <div class="num-prontuario">Número: 202401</div>
  
    <!-- Seção: Informações do animal -->
    <div class="section-titulo">Informações do animal</div>
    <div class="section-content">
      <div>
        <div class="label">Id</div>
        <div class="value">5</div>
      </div>
      <div>
        <div class="label">Nome</div>
        <div class="value">Placidusax</div>
      </div>
      <div>
        <div class="label">Espécie</div>
        <div class="value">Dragão</div>
      </div>
      <div>
        <div class="label">Idade</div>
        <div class="value">100</div>
      </div>
      <div>
        <div class="label">Peso</div>
        <div class="value">3000.37</div>
      </div>
      <div>
        <div class="label">Sexo</div>
        <div class="value">?</div>
      </div>
    </div>
  
    <!-- Seção: Detalhes do Procedimento -->
    <div class="section-titulo">Detalhes do procedimento</div>
    <div class="section-content-2">
      <div>
        <div class="label-2">Médico</div>
        <div class="value-2">Paulo</div>
      </div>
      <div>
        <div class="label-2">Tipo de Procedimento</div>
        <div class="value-2">Castração</div>
      </div>
      <div>
        <div class="label-2">Data do Procedimento</div>
        <div class="value-2">12/11/2024</div>
      </div>
      <div>
        <div class="label-2">Duração</div>
        <div class="value-2">4 horas</div>
      </div>
    </div>
    <div><h2 class="poppins-bold obs">Observações</h2></div>
      <div class="obs-area">
      </div>
  </div>
  
